.alert-panel {
    border-radius: 0px;
    border-top: none;
    border-bottom: none;
    border-right: none;
    border-left: 1px solid #1fb81f;

    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 8px;
    padding-right: 0px;
  
    top: 0;
    bottom: 0;

    line-height: 1.5em;
    color: #023002;

    justify-content: left;
}
